<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>color</th>
      <th>Manufacturer</th>
      <th class="text-right"><button class="btn btn-primary" (click)="addNew()">New</button></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehicle of vehicles$ | async">
      <td>{{vehicle.name}}</td>
      <td>{{vehicle.color}}</td>
      <td>{{vehicle.manufacturer}}</td>
      <td class="text-right">
        <a (click)="editVehicle(vehicle)"><i class="fa fa-edit"></i></a>
        <a (click)="deleteVehicle(vehicle.key)"><i class="fa fa-trash"></i></a>
      </td>
    </tr>
  </tbody>
</table>